<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.admin.mapper.AccountMapper">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <!--public Account getAccount(Long id);-->
    <select id="getAccount" resultType="com.atguigu.admin.bean.Account">
        select *
        from account_tb1
        where id = #{id}
    </select>
</mapper>